<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/home_page.css">
    <title>iEligible</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <!-- <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Admin Panel</a></li>
                <li><a href="#">User Panel</a></li>
            </ul> -->
        </div>
        <div class="con">
            <h1>i-Eligible</h1>
            <p>
                About Website Our website ieligible is website for Student to Help them to find the scholership and scheme.Acording to the All Student Details Our website will find all The list of all scholership and scheme for the student which they are avalible for.Our website also Shows All the detalis about scholership and scheme All terms and condition and Process to get the scholership/scheme. Our website will show the latest and updated details about all the schems and scholership. 
            </p>
            <div>
                <a href="{% url 'user' %}"><button type="button"><span></span>Check Scholership</button></a>
                <!-- <a><button type="button"><span></span>Next Page</button></a> -->
            </div>
        </div>
    </div>
</body>
</html>